# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
dist
build
out

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Testing
coverage
*.lcov

# Environment variables
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Prettier
.prettierrc
.prettierignore
